@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

/*=====GLOBAL=====*/

@import url('./blocks/body/body.css');
@import url('./blocks/page/page.css');
@import url('./blocks/wrapper/wrapper.css');
@import url('./blocks/button/button.css');
@import url('./blocks/button/_type/button_type_close.css');
@import url('./blocks/figure/figure.css');

/*=====HEADER=====*/

@import url('./blocks/header/header.css');
@import url('./blocks/header/_position/header_position.css');
@import url('./blocks/header/__logo/header__logo.css');

/*=====PROFILE=====*/

@import url('./blocks/profile/profile.css');
@import url('./blocks/profile/__photo-container/profile__photo-container.css');
@import url('./blocks/profile/__photo/profile__photo.css');
@import url('./blocks/profile/__photo-hover/profile__photo-hover.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__name-container/profile__name-container.css');
@import url('./blocks/profile/__name/profile__name.css');
@import url('./blocks/profile/__about/profile__about.css');
@import url('./blocks/profile/__button-add/profile__button-add.css');
@import url('./blocks/profile/__button-edit/profile__button-edit.css');

/*=====CARDS=====*/

@import url('./blocks/cards/cards.css');
@import url('./blocks/card/card.css');
@import url('./blocks/card/__photo-container/card__photo-container.css');
@import url('./blocks/card/__image/card__image.css');
@import url('./blocks/card/__title/card__title.css');
@import url('./blocks/card/__info/card__info.css');
@import url('./blocks/card/__button-delete/card__button-delete.css');
@import url('./blocks/card/__button-delete/_hide/card__button-delete_hide.css');
@import url('./blocks/likes-container/likes-container.css');
@import url('./blocks/likes-container/__button/likes-container__button.css');
@import url('./blocks/likes-container/__button/_active/likes-container__button_active.css');
@import url('./blocks/likes-container/__counter/likes-container__counter.css');

/*=====FOOTER=====*/

@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__copyright/footer__copyright.css');

/*=====POPUP=====*/

@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/_opened/popup_opened.css');
@import url('./blocks/popup/__container/popup__container.css');
@import url('./blocks/popup/__container/_small/popup__container_small.css');

/*=====PROFILE EDIT-FORM=====*/

@import url('./blocks/edit-form/edit-form.css');
@import url('./blocks/edit-form/__title/edit-form__title.css');
@import url('./blocks/edit-form/__title/_small-margin-bottom/edit-form__title_small-margin-bottom.css');
@import url('./blocks/edit-form/__fields/edit-form__fields.css');
@import url('./blocks/edit-form/__field/edit-form__field.css');
@import url('./blocks/edit-form/__field-error/edit-form__field-error.css');
@import url('./blocks/edit-form/__field/_type/edit-form_field_type_error.css');
@import url('./blocks/edit-form/__button-save/edit-form__button-save.css');
@import url('./blocks/button/_inactive/button_inactive.css');

/*=====IMAGE-VIEW POPUP=====*/

@import url('./blocks/image-view/image-view.css');
@import url('./blocks/popup/_theme/_dark/popup_theme_dark.css');
@import url('./blocks/image-view/__item/image-view__item.css');
@import url('./blocks/image-view/__title/image-view__title.css');


@import url('./blocks/container/container.css');
@import url('./blocks/push/push.css');
@import url('./blocks/link/link.css');



@import url(./blocks/sign-page/sign-page.css);
@import url(./blocks/sign-page/__title/sign-page__title.css);
@import url(./blocks/sign-page/__inputs-container/sign-page__inputs-container.css);
@import url(./blocks/sign-page/__input-field/sign-page__input-field.css);
@import url(./blocks/sign-page/__button/sign-page__button.css);

@import url(./blocks/info-tooltip/info-tooltip.css);
@import url(./blocks/info-tooltip/__title/info-tooltip__title.css);
@import url(./blocks/info-tooltip/__image/info-tooltip__image.css);

html {
  background-color: black;
  height: 100%;
}

body {
  height: 100%;

}



.header__burger-btn {
  display: none;
  min-width: 24px;
  min-height: 21px;
  background-color: black;
  border: 0;
  /*background-image: url('./images/buttons/burger.svg');*/
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 544px) {
  .header__burger-btn {
    display: block;
  }
}

.header__burger-btn_hide {
  display: none;
}



.auth-container {
 margin-top: 6px;
  
  display: grid;
  
  /*grid-template-columns: 1fr 120px;*/
  grid-template-columns: 1fr auto;
  justify-content: flex-end;
  align-items: center;


  
  

  
  


  
  
  
}

@media screen and (max-width: 544px) {
  .auth-container {
max-width: unset;
    /*left: 0;*/
    /*top: 0;*/
    /*right: 0;*/
    height: 142px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
  
    


  }
  .auth__container_hide {
    display: none;
  }
  
  .auth-container__open {
    margin: 0;
    width: 100%;
    height: 142px;
    /*margin-top: 142px;*/
    /*border: 1px solid red;*/
    border-bottom: 1px solid rgba(84, 84, 84, .7);
  
  
  
    transform: translateY(142px);
    transition: ease .5s;
    
  
  }
  
}

/*@media screen and (min-width: 545px) {*/
/*auth-container_low-res*/






.menu {

  /*display: none;*/
  /*width: 100%;*/
  /*!*height: 142px;*!*/
  /*!*max-height: 0;*!*/
  /*background-color: #c4c4c4;*/
  /*transition: margin-top 2s ease;*/
  /*!*transform: translate(-100%, 0px);*!*/

  position: absolute;
  left: 0;
  top: -286px;
  width: 100%;
  height: 142px;
  transition: transform .5s ease;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  
  




}

@media screen and (max-width: 544px) {
  .menu__open {
    transform: translateY(100%);
    
  

  
  

    
    /*height: 200px;*/
    /*  transition: height .3s;*/
    /*  !*transform: translateX(100%);*!*/
  }
}


/*.menu {*/
/*  background-color: #545454;*/
/*  position: fixed;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 300px;*/
/*  */
/*  transition: left .3s ease 0s;*/
/*}*/


@media screen and (max-width: 544px) {
  .header__open {

  }
}

@media screen and (max-width: 544px) {
  .header_open-menu-position {
    transition: margin-top .3s;
    margin-top: 142px;
  }
}





.header__profile {


  justify-self: end;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}



@media screen and (max-width: 544px) {
  .header__profile {
    font-size: 14px;

  }
}

.header__sign-btn_out {
  font-size: 18px;
  color: #A9A9A9;
}
.header__sign-btn_out:hover {
  cursor: pointer;
}

.header__email {



  overflow: hidden;
  
  
  
  
  margin-right: 24px;

  
  

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  
  

  
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;


  
}

@media screen and (max-width: 544px) {
  .header__email {


    margin-right: 0;
  }
  
  .header__email_hide {
    display: none;
  }
}




