.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  height: 119px;
}

@media screen and (max-width: 900px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 544px) {
  .header {
    height: 84px;
  }
}






